<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/assets/css/index.css">
    <title>QFinder | AMD Ryzen 5 3600</title>
</head>
<body>
    <header class="catalogHeader">
        <section class="catalogHeader__location">
            <a href="../index.html"><img src="../../static/assets/images/logo_small.png" alt="QFinder | Catalog"></a>
            <img src="../../static/assets/images/cart.png" alt="">
            <p>Cart</p>
        </section>
        <section class="catalogHeader__searchBar">
            <div>
                <input type="text" placeholder="Search...">
            </div>
        </section>
        <section class="catalogHeader__btns">
            <nav>
                <a href="../wishlist/">
                    <img src="../../static/assets/images/heart.png" alt="">
                </a>
                <a href="../account/">
                    <img src="../../static/assets/images/account.png" alt="">
                </a>
            </nav>
        </section>
    </header>
    <main class="cartMain">
        <div class="wrapper"></div>
    </main>

    <script src="../../static/assets/js/Popup.js"></script>
    <script src="../../static/assets/js/Server.js"></script>
    <script src="../../static/assets/js/utils.js"></script>
    <script src="../../static/assets/js/cart.js"></script>
</body>
</html>