@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.btn {
    color: #fff;
    background-color: #1C9854;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 23px;
    transition: .3s background-color;

    &:hover {
        background-color: #1c9854ad;
    }
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    padding: 18px 27px;

    &__navigation {
        display: flex;
        justify-content: flex-end;

        a {
            @extend .btn;
            margin-right: 41px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.main {
    &__wrapper {
        @extend .wrapper;
        max-width: 680px;
    }

    &__screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 140px;

        img {
            margin-bottom: 34px;
        }

        h3 {
            padding-top: 0;
            margin-top: 0;
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__navigation {
        nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            a {
                @extend .btn;
                padding: 10px 33px;
            }
        }
    }
}

.catalogHeader {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__location {
        display: flex;
        align-items: center;

        a {
            margin-right: 13px;
        }

        p {
            font-size: 20px;
            font-weight: 700;
        }

        > img {
            margin-right: 10px;
            max-width: 30px;
        }
    }

    &__searchBar {
        div {
            position: relative;
            display: block;

            &:after {
                content: '';
                position: absolute;
                right: 6px;
                top: 4px;
                width: 23px;
                height: 23px;
                background: url(../images/search.png);
                background-size: cover;
            }
        }

        input {
            width: 290px;
            height: 34px;
            box-sizing: border-box;
            background: #DDDDDD;
            border: 2px solid #1C9854;
            border-radius: 12px;
            outline: 0;
            padding: 6px 40px 6px 10px;
        }
    }

    &__btns {
        nav {
            display: flex;
            align-items: center;
        }
        
        a {
            display: inline-block;

            &:nth-child(1) {
                margin-right: 17px;
            }

            &:last-child {
                margin-left: 39px;
            }
        }
    }
}

.catalogMain {
    width: 100%;
    padding: 10px 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    &__item {
        width: 24%;
        min-width: 260px;
        height: 267px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #ddd;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        text-decoration: none;
        margin-bottom: 34px;
        transition: .2s transform;

        &:hover {
            transform: translateY(-10px)
        }

        img {
            object-fit: contain;
            margin-bottom: 11px;
            max-width: 50%;
        }

        p {
            font-weight: 400;
            color: #000;
            margin: 0;
        }
    }
}


.categoryMain {
    padding: 13px;
    display: flex;
    justify-content: space-between;

    &__options {
        background: #DDDDDD;
        width: 30%;
        height: 100%;
        padding: 13px;
        box-sizing: border-box;

        
        
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 67%;
        align-items: flex-start;
    }

    &__item {
        width: 30%;
        background: #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 11px 32px;
        min-width: 278px;
        display: block;
        color: #000;
        text-decoration: none;
        transition: .3s transform;
        box-sizing: border-box;
        margin: 0 10px 23px;

        > img {
            max-width: 215px;
        }

        &:hover {
            transform: translateY(-5px);
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-size: 18px;
            }
            span {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}


.itemMain {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__left {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: 700px;

        &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    }
    
    &__slider {
        display: flex;
        width: 49%;

        &-thumbs {
            display: flex;
            flex-direction: column;
            width: 65px;
            margin-right: 22px;

            div {
                width: 100%;
                min-width: 60px;
                height: 65px;
                border: 2px solid #CCCCCC;
                box-sizing: border-box;
                border-radius: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                &.active {
                    border: 2px solid #1C9854;
                    
                }

                &:first-child {
                    border-radius: 4px 4px 0px 0px;
                }

                &:last-child {
                    border-radius: 0px 0px 4px 4px;
                }

                img {
                    max-width: 80%;
                    object-fit: contain;
                    transition: .2s transform;
                }
            }
        }

        &-current {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;

            > img {
                margin-bottom: 5px;
            }

            .stars {
                display: flex;
                align-items: center;

                span {
                    font-size: 14px;
                    margin-left: 15px;
                }
            }
        }
    }

    &__descirption {
        background: #DDDDDD;
        border-radius: 8px;
        padding: 19px 20px;
        max-width: 49%;
        min-width: 290px;

        p {
            margin: 0 0 29px;
            font-size: 14px;
        }
    }

    &__btns {
        display: flex;
        width: 100%;
        justify-content: space-around;

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: #1C9854;
            transition: .2s transform;


            &:hover {
                transform: translateY(-2px);
            }

            &:last-child {
                div {
                    div {
                        padding: 0;
                    width: 100px;
                    }
                }
            }

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                > p {
                    font-weight: 400;
                    margin-bottom: 2px;
                }

                

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2px 4px 2px 10px;
                    border: 2px solid #1C9854;
                    box-sizing: border-box;
                    border-radius: 12px;

                    p {
                        font-weight: 700;
                        margin-right: 15px;
                        font-size: 15px;
                    }

                    
                }
            }
        }
    }

    &__comment {
        padding: 10px;
        background: #f6f6f6;
        border-radius: 8px;

        &-info {
            display: flex;
            align-items: center;

            > img {
                margin-right: 11px;
            }

            p {
                margin-right: 20px;
            }
        }

        > p {
            font-size: 14px;
            margin: 0;
        }
    }

    &__right {
        width: 25%;
    }

    &__charecteristics {
       .table {
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            
            &__head {
                text-align: center;

                h2 {
                    margin: 0;
                    padding: 4px 10px;
                    font-size: 14px;
                }
            }

            &__row {
                display: flex;
                border-top: 1px solid #ccc;
                padding: 3px 5px;
                div {
                    width: 50%;

                    &:nth-child(2) {
                        text-align: center;
                    }
                }
            }
       }
    }
}
.itemMain__left-char {
    @extend .itemMain__charecteristics;
}

.wishMain {
    padding: 13px;

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        background: #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 24px 60px 24px 24px;
        box-sizing: border-box;

        

        &-link {
            text-decoration: none;
            color: #000;
            display: block;
            display: flex;
            align-items: center;

            > img {
                margin-right: 42px;
                max-width: 150px;
            }

            h2 {
                font-size: 18px;
            }
        }
    }

    .itemMain__btns {
        width: auto;
        margin-left: auto;

        .price {
            padding: 0;
            margin: 0;
        }
    }
}

.cartMain {
    padding: 13px;

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        background: #EEEEEE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        padding: 24px 60px 24px 24px;
        box-sizing: border-box;
        justify-content: space-between;
        
        &-img {
            width: 20%;
            img {
                width: 100%;
            }
        }

        &-price {
            color: #1C9854;
            font-weight: 700;
        }

        &-right {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 75%;

            // aifs

            > div:nth-child(1) {
                margin-top: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            > div:nth-child(2) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60%;
                margin-left: auto;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #1C9854;
                    font-size: 18px;
                    font-weight: 700;
                    transition: .2s transform;

                    &:hover {
                        transform: translateY(-2px)
                    }

                    img {
                        margin-right: 6px;
                    }
                }
            }
        } 
    }

    &__total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 30px 0;

        p {
            margin-right: 24px;
            font-weight: 700;
        }

        a {
            border: 2px solid #1C9854;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 8px 15px;
            display: flex;
            justify-content: space-between;
            min-width: 120px;
            text-decoration: none;
            font-weight: 700;
            color: #1C9854;
        }
    }
}

.accountMain {
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        
        // min-width: 150px;

        > div {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            font-weight: 700;

            > p {
                margin-right: 25px;
            }

            div {
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    margin: 4px 0 0 0 ;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url(../images/edit.png);
                }
            }
        }

        button {
            align-self: center;
            width: 160px;
            height: 48px;
            border: 0;
            outline: 0;
            background: #1C9854;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;
            margin-top: 40px;
            cursor: pointer;
        }
    }
}

.loginMain {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100%;

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 6px 14px;
            background: #EEEEEE;
            border: 2px solid #1C9854;
            box-sizing: border-box;
            border-radius: 12px;
            font-size: 18px;
            margin-bottom: 19px;
        }

        button {
            align-self: center;
            width: 160px;
            height: 48px;
            border: 0;
            outline: 0;
            background: #1C9854;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
}

.popup {
    position: fixed;
    width: 300px;
    left: calc(50% - 300px / 2);
    top: auto;
    bottom: auto;
    
    padding: 20px;
    box-sizing: border-box;

    a {
        
        border-radius: 6px;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        padding: 5px 20px;
    }

    &.success {
        background: #cec;

        a {
            background: #46d888;
        }
    }

    &.error {
        background: rgb(255, 159, 129);

        a {
            background: #ff6b7e;
        }
    }
}

.changed {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(199, 199, 199);
    color: #000;
    padding: 10px 20px;
    border-radius: 5px 0 0 0;
    transition: .5s opacity;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}






.rating {
    height: 18px;
}
.rating .stars-a {
    position: relative;
    display: block;
    float: left;
    height: 18px;
    width: 101px;
    background-image: url("../images/star.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    margin-right: 5px;
  }
  .rating .stars-a .on {
    height: 18px;
    background-image: url("../images/star-active.png");
    // background-position: 0 -20px;
  }
  .rating .stars-a .live {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .rating .stars-a .live span {
    display: block;
    float: left;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("../images/star.png");
    background-repeat: no-repeat;
    background-position: 0 -20px;
  }

  .itemMain {
    .rating .stars-a .live span:hover ~ span {
        background-position: 0 0px;
        cursor: default;
      }
      .rating .stars-a .live:hover {
        cursor: default;
        opacity: 0;
      }
      .rating .stars-a .live span { cursor: default; }
    }
  
  .spin {
      width: 50px;
  }

  .itemMain__slider-current .q{
      display: flex;
  }

  .itemMain__slider-current {
      max-width: auto;
      min-width: 240px;

      img {
          width: 100%;
      }
  }

  .itemMain__leaveComment {
      text-decoration: none;
      margin: 20px 0;
      display: block;
  }
  
  .itemMain__comment {
      margin-bottom: 30px;
      > p {
          margin: 10px 0;
      }

      &[data-owner=true] {
          border: 3px solid green;
      }
      position: relative;
      &.deletable {
          .del {
              display: block;
          }
         
      }
  }

  .wishMain__item {
    position: relative;

  }

  .del {
    content: '';
    width: 19px;
    height: 18px;
    display: none;
    background-image: url(../images/X.png);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
  
  .itemMain__left-char {
      display: none;
      border: 1px solid #ccc;
    border-radius: 8px;
  }


  @media (max-width: 997px) {
    .itemMain__right {
        display: none;
    }

    .itemMain__left-char {
        display: block;
    }
    .itemMain__left {
        width: 100%;
    }
}

.itemMain__leaveCommentBtn {
    display: block;
    margin: 15px 0;
    color: green
}
.itemMain__leaveComment {
    flex-direction: column;
    font-size: 16px;
    display: none;

    &.active {
        display: flex;
    }

    input {
        padding: 5px 10px;
        border: 1px solid #cec;
        border-radius: 4px;
        background: #f3f3f3;
        margin-bottom: 15px;
    }

    textarea {
        display: block;
        padding: 5px 10px;
        border: 1px solid #cec;
        border-radius: 4px;
        background: #f3f3f3;
        width: 100%;
        resize: none;
        font-family: Roboto, sans-serif;
        margin-bottom: 20px;
    }

    button {
        padding: 5px 35px;
        border: 1px solid #0f0;
        background: #cec;
        border-radius: 4px;
        cursor: pointer;
    }
}

.catalogHeader__searchBar {
    display: none;
}

.filter-wrapper {
    margin: 30px 0;
}
.filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 10px 0;

    p {
        margin: 0;
    }
}

.options{
    label {
        padding: 3px 10px;
        background: #ccc;
        border: 2px solid #000;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: inline-block;
        margin-bottom: 17px;
        margin-right: 17px;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked + label {
        border: 2px solid #1C9854;
        box-shadow: none;
    }

    
}

.ranges {
    input {
        background: #ccc;
        border: 1px solid #000;
        border-radius: 8px;
        padding: 4px 10px;
        width: 80px;
        box-sizing: border-box;
        -webkit-appearance: none;
        outline: 0;

        &:disabled {
            cursor: not-allowed;
        }
    }
}