<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/index.css">
    <title>QFinder</title>
</head>
<body>
    <header class="header">
        <nav class="header__navigation">
            <a href="#">Log In</a>
            <a href="#">Sign Up</a>
        </nav>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="main__screen">
                <img src="../static/assets/images/logo.png" alt="QFinder">
                <h3>Welcome to the Quality Finder!<br>We will help you to find hardware you can rely on!</h3>
            </section>
            <section class="main__navigation">
                <nav>
                    <a href="./catalog/">Catalog</a>
                    <a href="#">Account</a>
                </nav>
            </section>
        </div>
    </main>

    <script src="../static/assets/js/Server.js"></script>
</body>
</html>