<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/assets/css/index.css">
    <title>QFinder | AMD Ryzen 5 3600</title>
</head>
<body>
    <header class="catalogHeader">
        <section class="catalogHeader__location">
            <a href="../index.html"><img src="../../static/assets/images/logo_small.png" alt="QFinder | Catalog"></a>
            <p>AMD Ryzen 5 3600</p>
        </section>
        <section class="catalogHeader__searchBar">
            <div>
                <input type="text" placeholder="Search...">
            </div>
        </section>
        <section class="catalogHeader__btns">
            <nav>
                <a href="../cart/">
                    <img src="../../static/assets/images/cart.png" alt="">
                </a>
                <a href="../wishlist/">
                    <img src="../../static/assets/images/heart.png" alt="">
                </a>
                <a href="../account/">
                    <img src="../../static/assets/images/account.png" alt="">
                </a>
            </nav>
        </section>
    </header>
    <main class="itemMain">
       <section class="itemMain__left">
            <div class="itemMain__left-top">
                <div class="itemMain__slider">
                    
                </div>
                <div class="itemMain__descirption">
                    
                    </div>
                </div>
            </div>
            <div class="itemMain__left-char">

            </div>
            <div class="itemMain__left-comments">
                <a href="../login/" class="itemMain__leaveCommentBtn">Leave a feedback</a>

                <div class="itemMain__leaveComment">
                    <form>
                        Quantity of stars: <input type="number" name="stars" min="1" max="5" value="5" required>
                        <textarea name="body" cols="30" rows="10" placeholder="Message" required></textarea>

                        <button>Save</button>
                    </form>
                </div>
            </div>
       </section>
       <section class="itemMain__right">
            <div class="itemMain__charecteristics">
                <div class="table">
                    <div class="table__head">
                        <h2>Characteristics</h2>
                    </div>
                </div>
            </div>
       </section>
    </main>

    <script src="../../static/assets/js/Popup.js"></script>
    <script src="../../static/assets/js/Server.js"></script>
    <script src="../../static/assets/js/utils.js"></script>
    <script src="../../static/assets/js/product.js"></script>
</body>
</html>