<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".../static/assets/css/index.css">
    <title>QFinder | Catalog</title>
</head>
<body>
    <header class="catalogHeader">
        <section class="catalogHeader__location">
            <a href="../index.html"><img src=".../static/assets/images/logo_small.png" alt="QFinder | Catalog"></a>
            <p>Catalog</p>
        </section>
        <section class="catalogHeader__searchBar">
            <div>
                <input type="text" placeholder="Search...">
            </div>
        </section>
        <section class="catalogHeader__btns">
            <nav>
                <a href="#">
                    <img src=".../static/assets/images/cart.png" alt="">
                </a>
                <a href="#">
                    <img src=".../static/assets/images/heart.png" alt="">
                </a>
                <a href="#">
                    <img src=".../static/assets/images/account.png" alt="">
                </a>
            </nav>
        </section>
    </header>
    <main class="catalogMain">
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/cpu.png" alt="CPU">
            <p>CPU</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/fan.png" alt="CPU">
            <p>Cooling systems</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/gpu.png" alt="CPU">
            <p>Videocards</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/mb.png" alt="CPU">
            <p>Motherboards</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/monitor.png" alt="CPU">
            <p>Monitors</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/mouse.png" alt="CPU">
            <p>Mice</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/keyboard.png" alt="CPU">
            <p>Keyboards</p>
        </a>
        <a class="catalogMain__item" href="#">
            <img src=".../static/assets/images/ram.png" alt="CPU">
            <p>RAM</p>
        </a>
    </main>
</body>
</html>